<div class="search-container">
    <form (ngSubmit)="onSubmit()" #pokeSearch="ngForm">
        <span 
            class="search-box" 
            #searchBox
            appFocusOut
            [elementsInBox] ="searchBoxElements"
            (onFocusOut) = "setCamouflage($event)"
            (onFocusIn) = "hideClearButton($event)">
            <input 
                type="text" 
                name="searchText" 
                id="searchText"
                [(ngModel)]="searchWord">
            <button
                class="clear"
                (click)="resetSearchWord()"
                id="clearText"
                [ngStyle]="{'visibility':showEraseAll? 'visible' : 'hidden'}"
                [ngClass] ="{'camouflage':camouflage}">
                <i class="material-icons icon">close</i>
            </button>
        </span>        
        <button type="submit"><i class="material-icons icon">search</i></button>
        <p *ngIf="!found">{{messgeNotFound}}</p>
    </form>
</div>