/*
next want to use this styles:
https://codepen.io/rickzanutta/pen/NNzGVd
https://codepen.io/takaneichinose/pen/ErGwPZ
*/
.search-container {
    margin-bottom: 30px;
}
.search-box {
    padding: 2px;
    border: 1px solid;
}

.search-box:focus-within {
    color: #2a75bb;
}
.search-box input[type=text] {
    border: none;
}

.search-box input[type=text]:focus {
    outline:none;
}

.icon {
    font-size: 13px;
}

.icon-close:hover {
    color: #3c5aa6;
    font-weight: bold;
}
button.clear {
    border: none;
    background: none;
}

.camouflage {
    color: white;
}